@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Nunito:wght@300&family=Nunito+Sans:wght@300&family=Lora&family=Rubik:wght@300&family=Barlow+Condensed&family=Lato:wght@300&family=Source+Sans+Pro&family=Open+Sans&display=swap');

/*
Oswald
Barlow Condensed
Lora
Rubik
Lato
Nunito
Nunito Sans
Open Sans
Source Sans Pro
*/

@keyframes popIn {
  100% {
    transform: scale(1.3);
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@keyframes menuDrop {
  100% {
    height: 300px;
  }
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
}

html {
  font-size: 100%;
  height: 100%;
}

#overlord {
  min-width: 360px;
  color: white;
  background-color: black;
}

#overlord-body {
  margin: 2% 0 0 0;
}

.nodisplay {
  display: none;
}





/******************************************/
/*************** Nav-Mobile ***************/
/******************************************/





#nav-container {
  display: none;
}

#nav-mobile-container {
  color: white;
  background-color: black;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#nav-mobile-top {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#nav-mobile-top-1 {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 355%;
  text-align: center;
  line-height: 100%;
  font-family: 'Oswald', sans-serif;
  padding: 0.5% 0 0 0;
}

#nav-mobile-top-2 {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 140%;
  text-align: center;
}

#nav-mobile-author {
  font-family: 'Lora', sans-serif;
  font-size: 20px;
  margin: 2% 0 0 0;
}

#nav-mobile-bot {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  width: 100%;
  margin: 1% 0 0 0;
}

#nav-mobile-bot-clickable-area-1 {
  width: 120px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#nav-mobile-bot-clickable-area-2 {
  width: 120px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-mobile-menu-span {
  width: 70%;
  font-family: 'Open Sans', sans-serif;
}

.nav-mobile-menu-icon {
  width: 30%;
}

#bars {
  display: flex;
}

#times {
  display: flex;
}

#nav-mobile-menu {
  animation: .3s ease-out 0s 1 menuDrop forwards;
  display: flex;
  justify-self: center;
  justify-content: center;
  position: fixed;
  top: 187px;
  height: 0;
  width: 60%;
  transition: 0.4s;
  z-index: 8;
  font-family: 'Source Sans Pro', sans-serif;
  border: 1px solid white;
}

#sidebar {
  background-color: black;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: 0.4s;
}

#sidebar a {
  color: white;
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  font-size: 20px;
  border: 1px solid transparent;
  opacity: 0;
  animation: .2s ease-out .4s 1 fadeIn forwards;
}

#sidebar a:hover {
  color: black;
  background-color: white;
  transition: 0.3s;
  border: 1px solid black;
}

.nav-home {
  text-shadow:
    0 0 10px #e60073,
    0 0 20px #e60073;
}

.nav-wheretobuy {
  text-shadow:
    0 0 10px #00e6c4,
    0 0 20px #00e6c4;
}

.nav-abouttheauthor {
  text-shadow:
    0 0 10px #00b4e6,
    0 0 20px #00b4e6;
}

.nav-excerpt {
  text-shadow:
    0 0 10px #e6e200,
    0 0 20px #e6e200;
}

.nav-home-active, .nav-home:hover {
  transition: 0.3s;
  text-shadow:
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 30px #e60073,
    0 0 40px #e60073,
    0 0 50px #e60073,
    0 0 60px #e60073,
    0 0 70px #e60073;
}

.nav-wheretobuy-active, .nav-wheretobuy:hover {
  transition: 0.3s;
  text-shadow:
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 30px #00e6c4,
    0 0 40px #00e6c4,
    0 0 50px #00e6c4,
    0 0 60px #00e6c4,
    0 0 70px #00e6c4;
}

.nav-abouttheauthor-active, .nav-abouttheauthor:hover {
  transition: 0.3s;
  text-shadow:
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 30px #00b4e6,
    0 0 40px #00b4e6,
    0 0 50px #00b4e6,
    0 0 60px #00b4e6,
    0 0 70px #00b4e6;
}

.nav-excerpt-active, .nav-excerpt:hover {
  transition: 0.3s;
  text-shadow:
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 30px #e6e200,
    0 0 40px #e6e200,
    0 0 50px #e6e200,
    0 0 60px #e6e200,
    0 0 70px #e6e200;
}





/************************************/
/*************** Home ***************/
/************************************/






#body-container {
  display: flex;
  outline: 1px solid white;
}

#carousel-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  position: relative;
}

.slide-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-slide {
  width: 100%;
  height: 100%;
}

.slide {
  width: 100%;
  height: 100%;
  background-color: black;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.slide img {
  height: auto;
  width: 100%;
}

#dotgroup {
  display: none;
}

.carousel__dot {
  height: 15px;
  width: 10px;
  border-radius: 50%;
}

#playbutton {
  position: absolute;
  bottom: 2px;
  z-index: 2;
  border: none;
  background-color: transparent;
  font-size: 40px;
  transition: 0.4s;
  color: rgba(255, 255, 255, 0.5);
}

#playbutton i.fas {
  color: rgba(255, 255, 255, 0.7);
}

#backbutton {
  background-color: rgba(255, 255, 255, .5);
  border-radius: 50%;
  position: absolute;
  top: 46%;
  height: 30px;
  left: 2%;
  z-index: 2;
  transition: 0.4s;
}

#nextbutton {
  background-color: rgba(255, 255, 255, .5);
  border-radius: 50%;
  position: absolute;
  top: 46%;
  height: 30px;
  right: 2%;
  z-index: 2;
  transition: 0.4s;
}

#backbutton:hover,
#nextbutton:hover,
#playbutton:hover {
  animation: .4s ease-out 0s 1 popIn forwards;
}

#backbutton:focus,
#nextbutton:focus,
#playbutton:focus,
.slide-container:focus,
.carousel__dot:focus {
  outline: none;
}

.carousel__slide-focus-ring {
  display: none;
}





/******************************************/
/*************** WhereToBuy ***************/
/******************************************/





#wheretobuy-container {
  outline: 1px solid white;
  height: 75vh;
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#wtb-title {
  font-size: 20px;
}

#wtb-box {
  outline: 1px solid white;
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 0 2% 0;
}

.gridbox-container {
  outline: 1px solid white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 25%;
  transition: .3s;
}

.gridbox {
  outline: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  height: 100%;
}

#wtb-amazon {

}

#wtb-amazon-left {
  padding: 5%;
}

#wtb-amazon-right {

}

#wtb-bn {

}

#wtb-bn-left {
  padding: 5%;
}

#wtb-bn-right {

}

#wtb-anything {

}

#wtb-anything-left {
  padding: 5%;
}

#wtb-anything-right {

}





/**********************************************/
/*************** AboutTheAuthor ***************/
/**********************************************/





#abouttheauthor-container{
  outline: 1px solid white;
}

#ata-container {
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
  font-family: 'Lora', sans-serif;
}

#ata-1 {

}

#ata-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 26px;
  height: 75px;
  margin: 3% 0 0 0;
  padding: 1.5% 0 0 0;
}

#ata-2 {
  
}

#ata-textbody {
  font-size: 20px;
  line-height: 1.45;
  padding: 2%;
  font-family: 'Rubik', sans-serif;
}

#ata-text-1 {
  margin: 15px 0 0 0;
}

#ata-text-2 {
  margin: 15px 0 0 0;
}

#ata-authorpic {

}

#c-container {
  margin: 5% 0 0 0;
  padding: 0 0 10% 0;
}

#c-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  height: 75px;
  padding: 0 0 1% 0;
  margin: 0 0 3% 0;
}

#c-body {

}

#c-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 35vh;
  font-size: 25px;
}

#c-box-1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50%;
  width: 100%;
}

#c-box-2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50%;
  width: 100%;
}

#c-box a {
  color: white;
}

.c-c {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.c-title {
  font-size: calc(20px + 20 * ((100vw - 360px) / 720));
  text-align: center;
  font-family: 'Barlow Condensed', sans-serif
}

.c-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  font-size: calc(25px + 20 * ((100vw - 360px) / 720));
}

.c-icon:hover {
  animation: .4s ease-out 0s 1 popIn forwards;
}





/***************************************/
/*************** Excerpt ***************/
/***************************************/





#excerpt-container {
  height: 465px;
  color: white;
  background-color: black;
  outline: 1px solid white;
}





/**************************************/
/*************** Footer ***************/
/**************************************/





#overlord-footer {
  color: white;
  background-color: #221e1e;
  height: 59vh;
}





@media screen and (min-width: 720px) {





  #overlord-body {
    margin: 0 0 0 0;
  }





  /************************************/
  /*************** Nav ***************/
  /***********************************/
  




  #nav-container {
    color: white;
    background-color: black;
    display: flex;
    height: 300px;
    display: flex;
    flex-direction: column;
  }
  
  #nav-mobile-container {
    display: none;
  }

  #nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  #nav-1 {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 550%;
    text-align: center;
    line-height: 100%;
    padding: 0.5% 0 0 0;
    font-family: 'Oswald', sans-serif;
  }

  #nav-2 {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 140%;
    text-align: center;
  }
  
  #nav-author {
    margin: 15px 0 0 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-family: 'Lora', sans-serif;
  }

  #nav-3 {
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 140%;
    font-family: 'Source Sans Pro', sans-serif;
  }

  #nav-3-clickable {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  #nav-3-clickable a {
    padding: 5px;
    text-decoration: none;
    transition: 0.3s;
    background-color: black;
    color: white;
  }

  #nav-bot-clickable a:hover {
  }





  /************************************/
  /*************** Home ***************/
  /************************************/





  #dotgroup {
    display: flex;
    position: absolute;
    bottom: 10px;
    z-index: 2;
  }

  #playbutton {
    bottom: 28px;
  }





  /******************************************/
  /*************** WhereToBuy ***************/
  /******************************************/





  #wheretobuy-container {
    outline: 1px solid white;
    height: 59vw;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  #wtb-title {
    
  }

  #wtb-box {
    outline: 1px solid white;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  #wtb-amazon {
    outline: 1px solid white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
  }

  #wtb-amazon-left {
    width: 50%;
  }

  #wtb-amazon-right {
    width: 50%;
  }

  #wtb-bn {
    outline: 1px solid white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
  }

  #wtb-bn-left {
    
  }

  #wtb-bn-right {
    
  }

  #wtb-anything {
    outline: 1px solid white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
  }

  #wtb-anything-left {
    
  }

  #wtb-anything-right {
    
  }





  /**********************************************/
  /*************** AboutTheAuthor ***************/
  /**********************************************/





  #ata-container {

  }
  
  #ata-1 {
  
  }
  
  #ata-title {
  
  }
  
  #ata-2 {
    
  }

  #ata-textbody {
    font-size: calc(18px + 10 * ((100vw - 720px) / 1600));
  }
  
  #ata-text-1 {

  }

  #ata-text-2 {
    margin: 15px 0 0 0;
  }

  #ata-authorpic {

  }
  
  #c-container {

  }
  
  .c-title {
    font-size: calc(22px + 12 * ((100vw - 720px) / 1600));
    text-align: center;
  }

  .c-icon {
    font-size: calc(40px + 10 * ((100vw - 720px) / 1600));
  }
  




  /***************************************/
  /*************** Excerpt ***************/
  /***************************************/





  #excerpt-container {
    height: 59vw;
    color: white;
    background-color: black;
  }





  /**************************************/
  /*************** Footer ***************/
  /**************************************/





  #overlord-footer {
    color: white;
    background-color: #221e1e;
    height: 59vh;
  }

}