* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
}

html {
  font-size: 100%;
  height: 100%;
}

#overlord {
  min-width: 360px;
}

#overlord-body {
  background-color: lightcyan;
}





/******************************************/
/*************** Nav-Mobile ***************/
/******************************************/





#nav-container {
  display: none;
}

#nav-mobile-container {
  background-color: lightgray;
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#nav-mobile-top {
  outline: 1px solid black;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#nav-mobile-top-1 {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 400%;
  text-align: center;
}

/* #nav-mobile-title-1 {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-mobile-title-2 {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
} */

#nav-mobile-top-2 {
  outline: 1px solid black;
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 140%;
  text-align: center;
}

#nav-mobile-author {
  outline: 1px solid black;
}

#nav-mobile-bot {
  outline: 1px solid black;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 180%;
  width: 100%;
}

#nav-mobile-bot-clickable-area-1 {
  width: 120px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#nav-mobile-bot-clickable-area-2 {
  width: 120px;
  display: none;
  /* justify-content: space-evenly;
  align-items: center; */
}

.nav-mobile-menu-span {
  width: 70%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.nav-mobile-menu-icon {
  width: 30%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

#bars {
  /* outline: 1px solid black; */
  display: flex;
}

#times {
  /* outline: 1px solid black; */
  display: flex;
}

#nav-mobile-menu {
  display: none;
  justify-self: center;
  justify-content: center;
  position: fixed;
  top: 34vh;
  height: 300px;
  width: 60%;
  transition: 0.4s;
  z-index: 1;
}

#sidebar {
  background-color: black;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#sidebar a {
  color: white;
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  font-size: 20px;
  border: 1px solid transparent;
}

#sidebar a:hover {
  color: black;
  background-color: white;
  transition: 0.3s;
  border: 1px solid black;
}





/************************************/
/*************** Home ***************/
/************************************/






#body-container {
  /* outline: 5px solid black; */
  display: flex;
  /* width: 100%; */
  /* height: 100%; */
}

#carousel-container {
  /* outline: 5px solid black; */
  display: flex;
  justify-content: center;
  /* flex-flow: row; */
  /* align-items: center; */
  /* text-align: center; */
  width: 100%;
  height: auto;
}

.slide-container {
  /* outline: 5px solid black; */
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;

}

.carousel-slide {
  /* outline: 5px solid black; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: black;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: auto 100%; */
}

.slide {
  /* outline: 1px solid gold; */
  width: 100%;
  height: 100%;
  background-color: black;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.slide img {
  height: auto;
  width: 100%;
}

#home {
  background-image: url("./images/home.jpg");
}

#comingsoon {
  background-image: url("./images/comingsoon.jpg");
}

#bookjacket {
  background-image: url("./images/frontandback.jpg");
}

#multi {
  background-image: url("./images/multi.jpg");
}

#placeholder {
  visibility: hidden;
}





/******************************************/
/*************** WhereToBuy ***************/
/******************************************/





#wheretobuy-container {
  height: 59vw;
}





/**********************************************/
/*************** AboutTheAuthor ***************/
/**********************************************/





#abouttheauthor-container {
  height: 59vw;
  background-color: lightgoldenrodyellow;
}





/***************************************/
/*************** Contact ***************/
/***************************************/





#contact-container {
  height: 59vw;
  background-color: lightgreen;
}





/**************************************/
/*************** Footer ***************/
/**************************************/





#overlord-footer {
  color: white;
  background-color: black;
  height: 59vh;
}





@media screen and (min-width: 720px) {

  body {

  }





  /************************************/
  /*************** Nav ***************/
  /***********************************/
  




  #nav-container {
    background-color: gray;
    display: flex;
    height: 18vh;
    display: flex;
    flex-direction: column;
  }
  
  #nav-mobile-container {
    display: none;
  }

  #nav-top {
    outline: 1px solid black;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #nav-title {
    outline: 1px solid black;
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 250%;
    text-align: center;
  }
  
  #nav-author {
    outline: 1px solid black;
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 140%;
  }

  #nav-bot {
    outline: 1px solid black;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 140%;
  }

  #nav-bot-clickable-area {
    outline: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  #nav-bot-clickable-area a {
    outline: 1px solid black;
    padding: 5px;
    text-decoration: none;
    color: black;
    background-color: white;
    transition: 0.3s;
  }

  #nav-bot-clickable-area a:hover {
    background-color: black;
    color: white;
    transition: 0.3s;
  }

}