@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Noto+Sans&Merriweather+Sans:wght@300&family=PT+Sans&family=Nunito:wght@300&family=Nunito+Sans:wght@300&family=Lora&family=Rubik:wght@300&family=Barlow+Condensed&family=Arvo&family=Lato:wght@300&family=Source+Sans+Pro&family=Open+Sans&display=swap');

/*
Oswald
Noto Sans
Merriweather Sans
PT Sans
Nunito
Nunito Sans
Lora
Rubik
Barlow Condensed
Arvo
Lato
Source Sans Pro
Open Sans
*/

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
}

html {
  font-size: 100%;
  height: 100%;
}

#overlord {
  min-width: 360px;
}

#overlord-body {
  color: white;
  background-color: black;
}





/******************************************/
/*************** Nav-Mobile ***************/
/******************************************/





#nav-container {
  display: none;
}

#nav-mobile-container {
  color: white;
  background-color: black;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#nav-mobile-top {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#nav-mobile-top-1 {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 355%;
  text-align: center;
  line-height: 100%;
  font-family: 'Oswald', sans-serif;
  padding: 0.5% 0 0 0;
}

/* #nav-mobile-title-1 {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-mobile-title-2 {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
} */

#nav-mobile-top-2 {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 140%;
  text-align: center;
}

#nav-mobile-author {
}

#nav-mobile-bot {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 180%;
  width: 100%;
}

#nav-mobile-bot-clickable-area-1 {
  width: 120px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#nav-mobile-bot-clickable-area-2 {
  width: 120px;
  display: none;
}

.nav-mobile-menu-span {
  width: 70%;
}

.nav-mobile-menu-icon {
  width: 30%;
}

#bars {
  display: flex;
}

#times {
  display: flex;
}

#nav-mobile-menu {
  display: none;
  justify-self: center;
  justify-content: center;
  position: fixed;
  top: 25vh;
  height: 300px;
  width: 60%;
  transition: 0.4s;
  z-index: 1;
}

#sidebar {
  background-color: black;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#sidebar a {
  color: white;
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  font-size: 20px;
  border: 1px solid transparent;
}

#sidebar a:hover {
  color: black;
  background-color: white;
  transition: 0.3s;
  border: 1px solid black;
}





/************************************/
/*************** Home ***************/
/************************************/






#body-container {
  display: flex;
}

#carousel-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.slide-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  width: 100%;
  height: 100%;
  background-color: black;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.slide img {
  height: auto;
  width: 100%;
}

#home {
  background-image: url("./images/home.jpg");
}

#comingsoon {
  background-image: url("./images/comingsoon.jpg");
}

#bookjacket {
  background-image: url("./images/frontandback.jpg");
}

#multi {
  background-image: url("./images/multi.jpg");
}

#placeholder {
  visibility: hidden;
}





/******************************************/
/*************** WhereToBuy ***************/
/******************************************/





#wheretobuy-container {
  height: 59vw;
  color: white;
  background-color: black;
}

#wtb-box {

}

#wtb-title {
  
}

#wtb-retailers {
  
}

#wtb-amazon {
  
}

#wtb-amazon-left {
  
}

#wtb-amazon-right {
  
}

#wtb-bn {
  
}

#wtb-bn-left {
  
}

#wtb-bn-right {
  
}

#wtb-anything {
  
}

#wtb-anything-left {
  
}

#wtb-anything-right {
  
}





/**********************************************/
/*************** AboutTheAuthor ***************/
/**********************************************/





#abouttheauthor-container {
  height: 40vh;
  color: white;
  background-color: black;
}

#ata-1 {

}

#ata-title {

}

#ata-2 {
  
}

#ata-textbody {
  font-size: 12px;
}

#ata-text-1 {

}

#ata-text-2 {

}

#ata-authorpic {

}





/***************************************/
/*************** Contact ***************/
/***************************************/





#contact-container {
  height: 59vw;
  color: white;
  background-color: black;
}





/**************************************/
/*************** Footer ***************/
/**************************************/





#overlord-footer {
  color: white;
  background-color: #221e1e;
  height: 59vh;
}





@media screen and (min-width: 480px) {

  #nav-mobile-top-1 {
    font-size: 450%;
  }


}





@media screen and (min-width: 720px) {





  /************************************/
  /*************** Nav ***************/
  /***********************************/
  




  #nav-container {
    color: white;
    background-color: black;
    display: flex;
    height: 25vh;
    display: flex;
    flex-direction: column;
  }
  
  #nav-mobile-container {
    display: none;
  }

  #nav-top {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  #nav-top-1 {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 450%;
    text-align: center;
    line-height: 100%;
    padding: 0.5% 0 0 0;
    font-family: 'Oswald', sans-serif;
  }

  #nav-top-2 {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 140%;
    text-align: center;
  }
  
  /* #nav-title {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 250%;
    text-align: center;
  } */
  
  #nav-author {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
  }

  #nav-bot {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 140%;
    font-family: 'Noto Sans', sans-serif;
  }

  #nav-bot-clickable-area {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  #nav-bot-clickable-area a {
    padding: 5px;
    text-decoration: none;
    color: black;
    background-color: white;
    transition: 0.3s;
  }

  #nav-bot-clickable-area a:hover {
    background-color: black;
    color: white;
    transition: 0.3s;
  }





  /************************************/
  /*************** Home ***************/
  /************************************/






  #body-container {
    display: flex;
  }

  #carousel-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
  }

  .slide-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carousel-slide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slide {
    width: 100%;
    height: 100%;
    background-color: black;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .slide img {
    height: auto;
    width: 100%;
  }

  #home {
    background-image: url("./images/home.jpg");
  }

  #comingsoon {
    background-image: url("./images/comingsoon.jpg");
  }

  #bookjacket {
    background-image: url("./images/frontandback.jpg");
  }

  #multi {
    background-image: url("./images/multi.jpg");
  }

  #placeholder {
    visibility: hidden;
  }





  /******************************************/
  /*************** WhereToBuy ***************/
  /******************************************/





  #wheretobuy-container {
    height: 59vw;
    color: white;
    background-color: black;
  }

  #wtb-box {

  }

  #wtb-title {
    
  }

  #wtb-retailers {
    
  }

  #wtb-amazon {
    
  }

  #wtb-amazon-left {
    
  }

  #wtb-amazon-right {
    
  }

  #wtb-bn {
    
  }

  #wtb-bn-left {
    
  }

  #wtb-bn-right {
    
  }

  #wtb-anything {
    
  }

  #wtb-anything-left {
    
  }

  #wtb-anything-right {
    
  }





  /**********************************************/
  /*************** AboutTheAuthor ***************/
  /**********************************************/





  #abouttheauthor-container {
    height: 40vh;
    color: white;
    background-color: black;
  }
  
  #ata-1 {
  
  }
  
  #ata-title {
  
  }
  
  #ata-2 {
    
  }

  #ata-textbody {
    font-size: calc(16px + 16 * ((100vw - 720px) / 1600));
  }
  
  #ata-text-1 {

  }

  #ata-text-2 {
    margin: 15px 0 0 0;
  }

  #ata-authorpic {

  }
  




  /***************************************/
  /*************** Contact ***************/
  /***************************************/





  #contact-container {
    height: 59vw;
    color: white;
    background-color: black;
  }





  /**************************************/
  /*************** Footer ***************/
  /**************************************/





  #overlord-footer {
    color: white;
    background-color: #221e1e;
    height: 59vh;
  }

}